{% extends 'budget/base.html' %}
{% block content %}


<div class = 'container'>

    <h1>My Accounts</h1>
    <hr>

    <div class="row">
        {% for project in project_list %}
            <div class="col s12 13">
                <div class="card-panel">
                    <h3>{{ project.name }}</h3>   
                    <a href="{% url 'detail' project.slug %}" class="btn">Check</a>                 
                </div>
            </div>
        {% empty %}
        <div class = "noproject-wrapper">
            <h3 class='grey-text'>Sorry, you don't have any accounts, yet.</h3>
        </div>
        {% endfor %}
        <a href="./add" class="btn-large">
            <span class='bold'>Add Accounts</span>
        </a>
    </div>
</div>

{% endblock %}