{% extends 'budget/base.html' %}
{% block content %}

{% include "budget/header.html" %}

<section class="analytics-section">
    <h1>{{ project.name }} Analytics</h1> 
    <div class = "analytics-row">
        <div id="container" style="width: 40%;">
            <h4>Total Spent</h4>
            <canvas id="barChart" width="400" height="400"></canvas>
        </div>
        <div id="container" style="width: 40%;">
            <h4>Expense Per Category</h4>
            <canvas id="pieChart" width="400" height="400"></canvas>
        </div>
        <div id="container" style="width: 55%;">
            <h4>Transactions Over Time</h4>
            <canvas id="lineChart" width="400" height="400"></canvas>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script>

    const renderBarChart = (data, labels) => {
    var ctx = document.getElementById("barChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: "bar",
        data: {
        labels: labels,
        datasets: [
            {
            data: data,
            backgroundColor: [
                "rgba(153, 102, 255, 0.8)",
                "rgba(255, 159, 64, 0.8)",
                "rgba(153, 102, 255, 0.8)",
                "rgba(255, 159, 64, 0.8)",
                "rgba(153, 102, 255, 0.8)",
                "rgba(255, 159, 64, 0.8)",
            ],
            borderColor: [
                "rgba(255, 255, 255, 1)",
                "rgba(255, 255, 255, 1)",
                "rgba(255, 255, 255, 1)",
                "rgba(255, 255, 255, 1)",
            ],
            borderWidth: 1,
            },
        ],
        },
    });
    };

    const renderPieChart = (data, labels) => {
    var ctx = document.getElementById("pieChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: "doughnut",
        data: {
        labels: labels,
        datasets: [
            {
            label: "Last 6 months expenses",
            data: data,
            backgroundColor: [
                "rgba(153, 102, 255, 0.8)",
                "rgba(255, 159, 64, 0.8)",
                "rgba(255, 255, 255, 1)",
                "rgba(255, 255, 255, 1)",
                "rgba(28, 28, 28, 1)",
                "rgba(255, 159, 64, 0.8)",
            ],
            borderColor: [
                "rgba(255, 255, 255, 1)",
                "rgba(255, 255, 255, 1)",
                "rgba(255, 255, 255, 1)",
                "rgba(255, 255, 255, 1)",
            ],
            borderWidth: 1,
            },
        ],
        },
        options: {
        },
    });
    };

    const renderLineChart = (data, labels) => {
    var ctx = document.getElementById("lineChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: "line",
        data: {
        labels: labels,
        datasets: [
            {
            label: "Last 6 months expenses",
            data: data,
            backgroundColor: [
                "rgba(153, 102, 255, 0.8)",
                "rgba(255, 159, 64, 0.8)",
                "rgba(255, 255, 255, 1)",
                "rgba(255, 255, 255, 1)",
                "rgba(153, 102, 255, 0.8)",
                "rgba(255, 159, 64, 0.8)",
            ],
            borderColor: [
                "rgba(255, 255, 255, 1)",
                "rgba(255, 255, 255, 1)",
                "rgba(255, 255, 255, 1)",
                "rgba(255, 255, 255, 1)",
            ],
            borderWidth: 1,
            },
        ],
        },
        options: {
        },
    });
    };

    const getBarChartData = () => {
    console.log("fetching");
    fetch("total_spent_info")
        .then((res) => res.json())
        .then((results) => {
        console.log("results", results);
        const spent_data = results.total_spent_info;
        const [labels, data] = [
            Object.keys(spent_data),
            Object.values(spent_data),
        ];
        
        renderBarChart(data, labels);
        });
    };

    const getPieChartData = () => {
    console.log("fetching");
    fetch("expense_category_info")
        .then((res) => res.json())
        .then((results) => {
        console.log("results", results);
        const category_data = results.expense_category_info;
        console.log(category_data)
        const [labels, data] = [
            Object.keys(category_data),
            Object.values(category_data),
        ];
        renderPieChart(data, labels);
        });
    };

    const getLineChartData = () => {
    console.log("fetching");
    fetch("expense_time_info")
        .then((res) => res.json())
        .then((results) => {
        console.log("results", results);
        const date_data = results.expense_time_info;
        const [labels, data] = [
            Object.keys(date_data),
            Object.values(date_data),
        ];

        renderLineChart(data, labels);
        });
    };

    document.onload = getBarChartData();
    document.onload = getPieChartData();
    document.onload = getLineChartData();
</script>
    

{% endblock %}