{% extends 'budget/base.html' %}
{% load static %}
{% block content %}


<nav class = 'nav-dec'>
    <a href="{% url 'list' %}" class = "logo">
        <p>Finance Guru</p>
    </a>
    <div class="burger">
        <div class = "line1"></div>
        <div class = "line2"></div>
        <div class = "line3"></div>
    </div>
    <div class = "nav-links">
        <a href="{% url 'profile' project.slug %}">Profile</a>
        <a href="{% url 'transactions' project.slug %}">Transactions</a>
        <a href="{% url 'analytics' project.slug %}">Analytics</a>
        <a href="{% url 'stocks' project.slug %}">Stocks</a>
        <div class="dropdown">
            <i class="fas fa-user-circle dropbtn"></i>
            <div class="dropdown-content">
                <a href="{% url 'list' %}">Accounts</a>        
                <a href="{% url 'logout' %}">Logout</a>        
            </div>
        </div>
    </div>
</nav>
<div class = 'left-nav'>
    <h3>My Accounts</h3>

    <div class="project-list">
        {% for project in project_list %}
            <div class="project-card">
                <h3>{{ project.name }}</h3>   
                <a href="{% url 'profile' project.slug %}" class="account-button">Check</a>                 
            </div>
        {% endfor %}
    </div>
    <a href="../add" class="account-button">
        <span>Add Accounts</span>
    </a>
</div>

<script>
    const navSlide = () => {
        const burger = document.querySelector('.burger');
        const nav = document.querySelector('.nav-links');
        burger.addEventListener('click', ()=> {
            nav.classList.toggle('nav-active');
        });
    }
    navSlide();

</script>


{% endblock %}