{% extends 'budget/base.html' %}
{% block content %}


<nav class = "nav-dec">
    <a href="{% url 'profile' project.slug %}">Profile</a>
    <a href="{% url 'transactions' project.slug %}">Transactions</a>
    <a href="{% url 'analytics' project.slug %}">Analytics</a>
</nav>
<div class = 'left-nav'>
    <h3>My Accounts</h3>

    <div class="project-list">
        {% for project in project_list %}
            <div class="project-card">
                <h3>{{ project.name }}</h3>   
                <a href="{% url 'profile' project.slug %}" class="account-button">Check</a>                 
            </div>
        {% endfor %}
        <a href="./add" class="account-button">
            <span>Add Accounts</span>
        </a>
    </div>
</div>


{% endblock %}