{% extends 'budget/base.html' %}
{% block content %}


<nav>
    <a href="{% url 'profile' project.slug %}">Profile</a>
    <a href="{% url 'transactions' project.slug %}">Transactions</a>
</nav>
<div class = 'left-nav'>
    <h3>My Accounts</h3>
    <hr>

    <div class="row">
        {% for project in project_list %}
            <div class="">
                <div class="card-panel">
                    <h3>{{ project.name }}</h3>   
                    <a href="../{% url 'profile' project.slug %}" class="btn">Check</a>                 
                </div>
            </div>
        {% empty %}
        <div class = "noproject-wrapper">
            <h3 class='grey-text'>Sorry, you don't have any accounts, yet.</h3>
        </div>
        {% endfor %}
        <a href="../add" class="btn-large">
            <span class='bold'>Add Accounts</span>
        </a>
    </div>
</div>


{% endblock %}