{% extends 'budget/base.html' %}
{% load static %}

{% block content %}
    <h1>Welcome to the budgeting app</h1>
    <form class="d-flex" id="authstyle">
        <a href="{% url 'register' %}" class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="header-links"> Create Account </a>
        <a href="{% url 'login' %}" class="btn" style="color: white; background-color: #fd5e14; margin-left: 10px; "type="submit" id="header-links">Log In</a>
    </form>
{% endblock content %}