{% extends 'budget/base.html' %}
{% block content %}

{% include "budget/header.html" %}

<div class = "container">
    <section class="section section-stats">
        <div class = "row">
            <div class = "col">
                <div class = "card-panel">
                    <h6 class = "bold">Total Budget</h6>
                    <h1 class = "bold">${{ project.budget }}</h1>
                </div>
            </div>
            <div class = "col">
                <div class = "card-panel">
                    <h6 class = "bold">Budget Left</h6>
                    {% if project.budget_left > 0 %}
                        <h1 class = "bold green-text">${{ project.budget_left }}</h1>
                    {% elif project.budget_left == 0 %}
                        <h1 class = "bold orange-text">${{ project.budget_left }}</h1>
                    {% else %}
                        <h1 class = "bold red-text">${{ project.budget_left }}</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}