{% extends 'budget/base.html' %}
{% block content %}

{% include "budget/header.html" %}

<div class = "container w80">
    <h1>{{ project.name }}</h1>
    <section class="section-stats">
        <div class = "row">
            <div class = "col">
                <div class = "card-panel card">
                    <h6 class = "bold">Initial Budget</h6>
                    <h1 class = "bold">${{ project.budget }}</h1>
                </div>
            </div>
            <div class = "col">
                <div class = "card-panel card">
                    <h6 class = "bold">Budget Left</h6>
                    {% if project.budget_left > 0 %}
                        <h1 class = "bold green-text">${{ project.budget_left }}</h1>
                    {% elif project.budget_left == 0 %}
                        <h1 class = "bold orange-text">${{ project.budget_left }}</h1>
                    {% else %}
                        <h1 class = "bold red-text">${{ project.budget_left }}</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="section-stats">
        <h4>Recent Expenses</h4>
        <ul class="z-depth-1">
            {% for expense in expense_list %}
            <li>
                <div class="card-panel expense">
                    <div class="row">
                        <div class="col 16">
                            <span class="title">{{ expense.title }}</span>
                        </div>
                        <div class="col 13">
                            <span class="title">${{ expense.amount }}</span>
                        </div>
                        <div class="col 1">
                            <span class="title">{{ expense.date }}</span>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="section section-stats">
        <div class = "row">
            <div class = 'row'>
                <h4>Categories Pie Table</h4>
            </div>
            <div class = 'row'>
                <h4>Transactions over time line graph</h4>
            </div>
        </div>
    </section>
</div>

<script>
    var elem = document.querySelector('.modal')
    var instance = M.Modal.init(elem)

    var elem = document.querySelector('select')
    var instance = M.FormSelect.init(elem)
</script>


{% endblock %}