{% extends 'budget/base.html' %}
{% block content %}

{% include "budget/header.html" %}

<div class = "profile-section">
    <h1>{{ project.name }}</h1>
    <section class="profile-stats">
        <div class = "stat-card">
            <h5>Initial Budget</h6>
            <h1>${{ project.budget }}</h1>
        </div>
        <div class = "stat-card">
            <h5>Current Budget</h6>
            {% if project.budget_left > 0 %}
                <h2>${{ project.budget_left }}</h2>
            {% elif project.budget_left == 0 %}
                <h2>${{ project.budget_left }}</h2>
            {% else %}
                <h2>${{ project.budget_left }}</h2>
            {% endif %}
        </div>
    </section>
    <section class = "section-expenses">
        <h3>Recent Expenses</h3>
        <ul class="expense-list">
            {% for expense in expense_list %}
            <li>
                <div class="expense-col">
                    <spanc>{{ expense.title }}</span>
                </div>
                <div class="expense-col">
                    <spanc>${{ expense.amount }}</span>
                </div>
                <div class="expense-col">
                    <spanc>{{ expense.date }}</span>
                </div>
                <div class="expense-col">
                    <spanc>{{ expense.category }}</span>
                </div>
            </li>
            {% empty %}
            <div class = "">
                <h3>You have no expenses yet</h3>
            </div>
            {% endfor %}
        </ul>
    </section>
</div>

{% endblock %}