{% extends 'budget/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <div class="register-section">
        <h1>Sign Up</h1>
        <div class="register-content">
            <img src="{% static 'images/register.png' %}"/>
            <form action="" method="POST">
            {% csrf_token %}
                <fieldset class="">
                    {{ form }}
                </fieldset>
                <div class="" id="signup-button">
                    <button class="account-button">Sign Up</button>
                </div>
                <div class="">
                    <small class="text-muted ml-3" >Already have an account? <a href="{% url 'login' %}">Sign In</a></small>
                </div>
            </form>                
        </div>
    
    </div>

    {% endblock content %}