{% extends 'budget/base.html' %}
{% block content %}
{% include "./header.html" %}

<div class = "transactions-section">
    <h1>{{ project.name }}</h1> 
    <section class="profile-stats">
        <div class = "stat-card">
            <h5>Total Transactions</h6>
            <h1>{{ project.total_transactions }}</h1>
        </div>
        <div class = "stat-card">
            <h5>Initial Budget</h6>
            <h1>${{ project.budget }}</h1>
        </div>
        <div class = "stat-card">
            <h5>Budget Left</h6>
            {% if project.budget_left > 0 %}
                <h1>${{ project.budget_left }}</h1>
            {% elif project.budget_left == 0 %}
                <h1>${{ project.budget_left }}</h1>
            {% else %}
                <h1>${{ project.budget_left }}</h1>
            {% endif %}
        </div>
    </section>

    <section class = "section-expenses">
        <div class="button-row">
            <button class="modal-trigger account-button" id = "income-trigger" href = "#expenseModal" onClick = "incomeFunction()">+ Add Income</button>
            <button class="modal-trigger account-button" id = "expense-trigger" href = "#expenseModal" onClick = "expenseFunction()">+ Add Expense</button>
        </div>
        <div class="expense-row">
            <div class = 'expense-title'>
                <h6>Expense:</h6>
                <hr/>                
            </div>
            <div class = 'expense-title'>
                <h6>Amount:</h6>
                <hr/>                
            </div>
            <div class = 'expense-title'>
                <h6>Date:</h6>
                <hr/>                
            </div>
            <div class = 'expense-title'>
                <h6>Category:</h6>
                <hr/>                
            </div>
            <div class = 'expense-title'>
                <h6>Remove</h6>
                <hr/>                
            </div>
        </div>
        <ul class="expense-list">
            {% for expense in expense_list %}
            <li>
                <div class="expense-col">
                    <spanc>{{ expense.title }}</span>
                </div>
                <div class="expense-col">
                    <spanc>${{ expense.amount }}</span>
                </div>
                <div class="expense-col">
                    <spanc>{{ expense.date }}</span>
                </div>
                <div class="expense-col">
                    <spanc>{{ expense.category }}</span>
                </div>
                <a class = "close-icon" name = "action" value = "expense" onclick = "deleteExpense(this), window.location.reload();" data-id = "{{ expense.id }}">
                    <i class="red-text right">X</i>
                </a>
            </li>
            {% empty %}
            <div class = "">
                <h3>You have no expenses yet</h3>
            </div>
            {% endfor %}
            {% for income in income_list %}
            <li>
                <div class="expense-col">
                    <spanc>{{ income.title }}</span>
                </div>
                <div class="expense-col">
                    <spanc>${{ income.amount }}</span>
                </div>
                <div class="expense-col">
                    <spanc>{{ income.date }}</span>
                </div>
                <div class="expense-col">
                    <spanc>{{ income.category }}</span>
                </div>
                <a class = "close-icon"  name = "action" value = "income" onclick = "deleteIncome(this), window.location.reload();"data-id = "{{ income.id }}">
                    <i class="red-text right">X</i>
                </a>
            </li>
            {% empty %}
            <div class = "">
                <h3 class='grey-text'>You have no income yet</h3>
            </div>
            {% endfor %}
        </ul>
    </section>
</div>

<div id = "expenseModal" class = "modal">
    <div class = "modal-content">
        <h4 id = "expense-title">Add Income</h4>
        <form method = 'POST'>
            {% csrf_token %}
            <label for = "title">Title</label>
            <input name = "title" id = "title">
        
            <label for = "amount">Amount</label>
            <input name = "amount" id = "amount">

            <label for = "date">Date (mm/dd/yyyy)</label>
            <input type = "date" name = "date" id = "date">

            <label class="f1">Category<br>
                <select class="Category" name="category" required><br>
                    <option value="Food">Food</option>
                    <option value="Travel">Travel</option>
                    <option value="Shopping">shopping</option>
                    <option value="Necessities">Necessities</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Others">Others</option>
                        
                </select><br>
            </label>

            <button type = 'submit'  name = "action" value = "expense" class = "btn" id = "income-expense-submit">Add</button>
        </form>
    </div>
</div>

<script>
    var elem = document.querySelector('.modal')
    var instance = M.Modal.init(elem)

    var elem = document.querySelector('select')
    var instance = M.FormSelect.init(elem)

    function incomeFunction(){
        document.getElementById("expense-title").innerHTML = "Add Income";
        document.getElementById("income-expense-submit").value = "income";
    }
    
    function expenseFunction(){
        document.getElementById("expense-title").innerHTML = "Add Expense";
        document.getElementById("income-expense-submit").value = "expense";
    }
    
    function deleteExpense(e) {

        let id = e.dataset.id
        e.closest('li').remove()
        
        fetch("", {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'id': id,
            }),
            credentials: 'same-origin',
        })
    }

    function deleteIncome(e) {

        let id = e.dataset.id
        e.closest('li').remove()
        
        fetch("", {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'id': id,
            }),
            credentials: 'same-origin',
        })
    }
</script>

{% endblock %}