* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(40, 40, 40);
}
body {
    color: rgb(249, 249, 249);
}

h1 {
    font-size: 3rem;
}

/* Navigation */

.nav-dec {
    display: flex;
    background-color:rgb(28, 28, 28);
}

.nav-dec a {
    margin: 0 1.5rem;
    font-size: 1.15rem;
}

.left-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    position: absolute;
}

.left-nav .project-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-nav .project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    width: 80%;
    height: 15rem;
    background-color:rgb(28, 28, 28);
    margin: 2rem 0;
    padding: 2rem;
}



/* Accounts */

.accounts-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

hr {
    width: 100%;
}

.accounts-section .account-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    margin: 2rem;
}

.accounts-section .account-card{
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 50%;
    background-color:rgb(28, 28, 28);
}

.account-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9705d1;
    outline: none;
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 3px;
    color:rgb(255, 255, 255);
    transition: 0.3s ease;
}

.account-button:hover {
    background-color: #8E05C2;
    cursor: pointer;
}

/* No Accounts */

.noproject-wrapper {
    margin-top: 250px;
    padding: 80px 0px;
    border: 6px solid #9e9e9e;
}

.noproject-wrapper h3 {
    padding: 10px;
    margin-bottom: 50px;
}





/* Profile */

.profile-section {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20%;
    width: 80%;
    padding: 3rem;
    overflow: hidden;
}

.profile-section .profile-stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.profile-section .stat-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    padding: 1rem;
    background-color: rgb(28, 28, 28);
    width: 20rem;
    height: 15rem;
}

.section-expenses {
    width: 100%;
}

.section-expenses .expense-list {
    width: 100%;
}
.section-expenses li {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(28, 28, 28);
    height: 3rem;
    margin: 0.75rem 0;
    padding: 2rem 0;
}

.section-expenses .expense-col {
    width: 20%;
}




/* Transactions */

.transactions-section {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20%;
    width: 80%;
    padding: 3rem;
    overflow: hidden;
}

.transactions-section .profile-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.transactions-section .stat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    padding: 3rem;
    background-color: rgb(28, 28, 28);
    width: 20rem;
    height: 15rem;
}

.section-expenses .button-row {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
}

.section-expenses .expense-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.section-expenses .expense-row .expense-title {
    width: 20%;
}


